/* Search Bar Style */
.search-container {
  text-align: center;
  margin:0 auto;
  padding: 20px;
  
}

.search-input {
  width: 70%;
  max-width: 400px;
  padding: 8px;
  border: 1px solid #ccc;
  transition: width 0.2s ease-in-out;
  box-sizing: border-box;
  outline:none;
  font-size: 16px;
  color: #333;
  border-radius: 10px;
}

.search-input:focus {
  width: 80%;
}

.search-input:hover {
  background-color: #f2f2f2;
}

.search-input::placeholder {
  color: #999;
}

/* Highlight Search Characters */
.highlight {
  background-color: yellow;
}


/* Table Design  */
/* User Click on ROW and COLOR */
#dataTable {
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
}

table{
  border: 1px solid rgb(239, 239, 239);
  border-radius: 15px;
}

#dataTable th,
#dataTable td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  min-width: max-content;
  min-width: 80px;
}

#dataTable th {
  font-weight: bold;
  cursor: pointer;
}

#dataTable tr:hover {
  background-color: #aaaaaa3d;
}

#dataTable tr.clicked {
  background-color: #00743c8f;
  cursor:cell;
}

  #dataTable th,
  #dataTable td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
  
  #dataTable th:last-child,
  #dataTable td:last-child {
    border-right: none;
  }



/* Night Mode */
body {
  background-color: #fff;
  transition: background-color 0.3s ease-in-out;
}

.night-mode-toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}


.night-mode {
  background-color: #222;
  color: #fff;
}

#dataTable {
  background-color: #fff;
  color: #333;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

#dataTable th{
  background-color: rgb(94, 94, 94);
  color: white;
}

.night-mode #dataTable {
  background-color: #333;
  color: #fff;
}
#nightModeIcon{
  color: rgb(234, 52, 119);
}
.night-mode .show-more-button {
  margin-top: 10px;
  padding: 10px;
  background-color: #333;
  color: #fff;
}
.night-mode .show-more-button:hover {
  background-color: #0f0f24;
  color: #fff;
}


/* Show More button */
.show-more-button {
  width: 100%;
  background-color: #9494945b;
  border: none;
  color: rgb(69, 68, 68);
  margin-top: 10px;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.show-more-button:hover {
  color: #ffffff;
  background-color: #0f241ed1;
}